html, body, .container {
    height: 100%;
}
body > .container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
.footer, .push {
    clear: both;
    height: 50px;
    text-align: center;
}
#canvas {
    padding: 0;
    margin:  auto;
}

@font-face {
    font-family: 'GeosansLight';
    src: url(../fonts/GeosansLight-Oblique.ttf);
}